[submodule "cutlass/nvidia-cutlass"]
	path = src/include/cutlass/nvidia-cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
